<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('../components/header')  %> 

        <main class="main-pai">
          <h1 id="historia">HISTÓRIA</h1>
          <div class="main-filho">
            <a href="https://www.youtube.com/watch?v=cIJMb8xOrb0&ab_channel=GEEKBAR"><img src="../img/tocha.png" alt="" id="tocha" ></a>
            <p>
              A Marvel Entertainment foi fundada em 1939, nos Estados Unidos, por Martin<br> Goodman. A primeira revista em quadrinhos da companhia foi a Marvel Comics,<br> lançada em 31 de agosto de 1939, quando apareceu o personagem Tocha Humana e<br> Namor. A história da empresa, no entanto, teve início em 1933, quando houveram as<br> primeiras publicações na revista Western Supernovel Magazine.
            </p>
          </div>
          <div class="main-filho-2">
            <p>
              Ao longo dos anos, a Marvel enfrentou altos e baixos, mas no início dos anos 1990, a <br> companhia cresceu rapidamente, com a popularização das HQs nos Estados Unidos. Foi <br> na mesma década que os personagens da empresa ganharam licença para o cinema,<br> ganhando prestígio com filmes como X-Men, X-Men Origins: Wolverine, Homem-Aranha,<br> Quarteto Fantástico, Hulk, Homem de Ferro e Blade
            </p>
            <a href="https://www.youtube.com/watch?v=8ugaeA-nMTc&ab_channel=MovieclipsClassicTrailers"><img src="../img/homem de ferro.png" alt="" id="homem-de-ferro"></a>
          </div>
          <div class="main-filho-3">
            <a href="https://www.youtube.com/watch?v=eOrNdBpGMv8&ab_channel=MarvelEntertainment"><img src="../img/Marvel-Avengers-PNG.png" alt="" id="vingadores"></a>
            <p>
              Em 2009, a Marvel foi comprada pela Walt Disney Company, consagrando-se pela<br> produção de enormes sucessos de bilheteria nos cinemas, incluindo Homem de Ferro 2,<br> Thor e Captain America: The First Avenger. Hoje, a Marvel é uma das maiores empresas<br> de entretenimento do mundo, com mais de 8 mil personagens em seu catálogo.
            </p>
          </div>
        </main>
        
        <%- include('../components/footer')  %> 
</body>
</html>