<footer class="footer-pai">
    <section class="footer-filho">
      <div class="form-pai">
        <div class="fotter-marvel">
          <h6 id="novidades">
            Marvel News !
          </h6>
          <h6 id="exclusivas">
            Receba novidades exclusivas no seu e-mail
          </h6>
        <form action="/contato" id="novidadesExclusivas" method="POST">
          <input type="text" name="nome" placeholder="Qual é o seu nome" class="nome">
          <input type="email" name='email' placeholder="Seu e-mail?" class="email" value="">
          <button id="botaoEnvioNewsletter" type="submit" class="botao">CADASTRAR</button>
        </form>
      </div>
    </section>
  </footer>