<header >
    <div class="headerpai">
    <div class="logo">
        <span>Marvel</span>
      </div>
      <div class="menumobile">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
        <div class="menu">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/personagens">Personagens</a></li>
            <li><a href="/comics">Quadrinhos</a></li>
            <li><a href="/events">Especiais</a></li>
            <li><a href="#novidadesExclusivas">Contato</a></li>
            
          </ul>
      </div>
  
    </div>
    </header>